.box {
  /* display: flex; */
  padding-top: 200px;
  background: rgb(197, 173, 132);
  width: 100%;
  height: 80vh;
}
.container {
  display: flex;

  width: 800px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px black;
  text-align: center;
}

.user {
  background: rgb(237, 236, 240);
  font-size: 30px;
  margin: 20px 95px 05px 95px;
}
.input {
  border: none;
  outline: none;
  width: 700px;
  height: 30px;
  border: 3px solid rgb(50, 103, 235);
  /* border-bottom: 2px solid black; */
}
button {
  width: 120px;
  height: 30px;

  background: rgb(58, 58, 173);
  color: rgb(250, 252, 254);
  border: none;
  font-size: small;
  outline: none;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: center;
  color: rgb(230, 241, 230);
}

.del {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;

  background: red;
  margin: center;
}
